<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.nezspencer.signin"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".RegisterAds">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Event">
        </activity>

        <provider
            android:authorities="com.nezspencer.signin.provider"
            android:name=".provider.WelcomeProvider"
            android:exported="false"
            android:syncable="true"
            android:readPermission=".provider.WelcomeProvider.READ"
            android:writePermission=".provider.WelcomeProvider.WRITE"/>
    </application>

</manifest>